.container {
    background-color: white;
    /* margin: 10px; */
    margin-top: 20px;
    padding: 10px 10px;
    border-radius: 10px;
}

.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    background: white;
}

.search {
    width:70%;
    background-color: #ededed !important;
    box-shadow: none !important;
    border-radius: 20px !important;
    display: 'flex';
    align-items: 'center';
    flex-direction: row;
}

.search_input {
    width: 90%;
}

.selector {
    padding: 10px;
    min-width: 20%;
    margin: 0px 10px;
    background-color: #ededed;
    height: 37px;
    border-radius: 20px !important;
}

.table {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .container {
        width: 95%;
    }

    .search_input {
        width: 70%;
    }
}