.main {
    border-radius: 10px;
    background-color: #ffff;
  }
  
  .tabPanel {
    border-radius: 16px;
    background-color: #ffff;
  }
  
  .itemsWrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    align-items: center;
  }
  
  .status {
    border-radius: 8px;
    background: #ffd6af;
    display: flex;
    padding: 10px 16px 10px 16px !important;
    justify-content: center;
    align-items: center;
    color: #091634;
    text-align: center;
    min-width: 100px;
  }
  
  .actions {
    display: flex;
    gap: 10px;
  }
  
  .table {
    height: 425px;
  }
  
  .row {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .selector {
    height: 41px;
    width: 20%;
    margin-right: 10px;
  }
  
  .button {
    display: flex;
  }
  
  .tablebtn {
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    width: 129px;
    height: 40px;
    background: #e6edfe;
    border-radius: 8px;
    color: #091634;
    margin-left: 20px;
  }
  
  .status {
    width: fit-content;
    border-radius: 4px;
    padding: 2px 8px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .Paid {
    background-color: #e2faee;
  }
  
  .Upcoming {
    background-color: #e2faee;
  }
  
  .Due {
    background-color: #ffe5e7;
  }
  
  .payment {
    border-radius: 8px;
    background: #2760ea;
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    color: #fafbff;
    text-align: center;
  }
  
  .disabled {
    background: #ededed;
    color: #091634;
  }
  

