.container {
  width: 50%;
  margin: 10px 20px;
  background-color: white;
  display: flex;
  min-height: 450px;
  border-radius: 10px;
  padding: 30px 40px;
  flex-direction: column;
}

.container h1 {
  margin-bottom: 30px;
}

.main_header {
  display: flex;
  justify-content: space-between;
  margin: 15px 20px;
}

.row {
  margin: 10px 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.selector {
  min-width: 90%;
  height: 45px;
  margin: 12px 10px;
}

.input {
  width: 50%;
  background-color: #ededed !important;
  box-shadow: none !important;
  display: "flex";
  align-items: "center";
  flex-direction: row;
  padding: 10px;
  margin: 10px;
  border-radius: 20px !important;
}

.input_input {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  width: 80%;
}

.input_desc {
  width: 95%;
  background-color: #ededed !important;
  box-shadow: none !important;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px !important;
}

.input_input_desc {
  display: flex;
  align-items: start;
  padding: 05px 10px;
  width: 95%;
  outline: none;
  border: none;
  background-color: #ededed;
  height: 100px !important;
}

.label {
  font-weight: 600;
  font-size: 14px;
  margin: 10px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-end;
}

.outlined_button {
  height: 45px;
  background-color: transparent;
  border: 1px solid #dbdbdb;
  color: #171717;
  margin-top: 08px;
}

.faded_button {
  background-color: #d2dbfb;
  color: #2760ea;
}

.paymentselector {
  width: 35%;
  margin: 10px 20px;
  padding: 10px;
}

.details {
  width: 65%;
  background-color: white;
  padding: 16px;
  margin: 10px 20px;
  min-height: 100%;
  display: flex;
  border: 1px solid #dbdbdb;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.payment_row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.detail_card {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.detail_card div {
  display: flex;
  justify-content: center;
}

/* Partial */

.Popup {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 36px;
  border-radius: 16px;
  background: var(--fill-surface-enabled, #fff);

  /* Elevation4 */
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.04),
    0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 16px 24px 0px rgba(0, 0, 0, 0.04),
    0px 24px 32px 0px rgba(0, 0, 0, 0.04);
}
.popupTypo {
  color: var(--text-on-surface-enabled, #171717);

  /* H2-Desktop */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}

.popupInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
}

.popupInfoDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.popupBoldFont {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  color: #171717;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

.popup_footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
}

.popup_value {
  color: #5f5f5f;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.popup_cancel {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  color: #171717;
  border-radius: 4px;
  background-color: #fff;
  margin-right: 30px;
  /* background: var(--fill-primary-subdued-enabled, #e6edfe); */
  border: 1px solid var(--border-on-surface-enabled, #dbdbdb);
}

.popup_ack {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  color: #171717;
  border-radius: 4px;
  background: var(--fill-primary-subdued-enabled, #e6edfe);
}
