.main {
    margin: 20px 30px;
}

.container {
    background: white;
    /* padding: 20px 10px; */
    margin: 30px 0px;
    border-radius: 16px;
}

.filters {
    margin: 10px 05px;
    display: grid;
    grid-template-columns: 1.8fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
}

.selector {
    height: 41px;
}

.search {
    width: 90%;
}

.status {
    width: fit-content;
    border-radius: 4px;
    padding: 04px 10px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    background-color: #fef7d3;
}

.pending {
    background-color: #fef7d3;
}

.resend {
    background-color: #fef7d3;
}

.declined {
    background-color: #ffe5e7;
}

.rejected {
    background-color: #ffe5e7;
}

.approved{
    background-color: #e2faee;
}

.tooltip {
    font-size: 13px;
}