.addAttachments:hover {
  text-decoration: underline;
}

.addAttachments {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

.attachments {
  max-width: 480px;
  overflow-x: auto;
  display: flex;
  gap: 10px;
}

.attachments::-webkit-scrollbar {
  height: 0.1rem;
}

.attachments::-webkit-scrollbar-track {
  display: none;
}

.attachments::-webkit-scrollbar-thumb {
  display: none;
}

.inputWrapper {
  margin-top: 10px !important;
}
