.main {
    overflow-y: scroll;
}

.tab {
    text-transform: capitalize !important
}

.tabs {
    border-radius: 16px;
    padding: 25px;
    margin: 20px;
    background-color: white;
}

.navigation {
    padding: 10px 15px;
    display: flex;
    align-items: center;
}