.main {
    background-color: white;
    margin: 20px 0px;
    padding: 20px;
    border-radius: 10px;
}

.header {
    padding: 20px 10px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.input {
    width: 33%;
    margin: 5px;
}

.selector {
    padding: 15px;
    width: 31%;
    margin: 5px;
    margin-top: 5px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}
.label{
    padding:5px;
    margin: 15px;
}
